<div class="container">
    <div class="top">
        <mat-toolbar class="header mat-elevation-z8">
            <div class="logo">
                <img src="assets/img/logo.png" alt="logo-todo">
            </div>
            <div class="menu">
                <button mat-flat-button class="notBackground">Sobre</button>
                <button mat-flat-button class="notBackground">Recursos</button>
                <button mat-flat-button class="notBackground">Comunidade</button>
                <button mat-flat-button class="create" (click)="openCreateDialog()">Criar Conta</button>
                <button mat-flat-button class="login" (click)="openLoginDialog()">Login</button>
            </div>
        </mat-toolbar>
    </div>
</div>