<div class="conteudo-login">

    <form class="conteudo-form" [formGroup]="creatForm">
        <div class="flex">
            <div class="block">
                <div class="space">
                    <p class="login">Criar conta</p>
                </div>
                <div>
                    <div>
                        <input class="input-login" placeholder="Nome completo" formControlName="nome" />
                    </div>
                    <div class="mensagem-erro"
                        *ngIf="creatForm.get('nome')?.errors?.['required']&& creatForm.get('nome')?.touched">
                        Campo Obrigatório!
                    </div>
                </div>
                <div>
                    <div>
                        <input class="input-login" placeholder="Nome de usuário" formControlName="nick" />
                    </div>
                    <div class="mensagem-erro"
                        *ngIf="creatForm.get('nick')?.errors?.['required']&& creatForm.get('nick')?.touched">
                        Campo Obrigatório!
                    </div>
                </div>
                <div>
                    <div>
                        <input class="input-login" placeholder="Numero de mátricula" formControlName="email" />
                    </div>
                    <div class="mensagem-erro"
                        *ngIf="creatForm.get('email')?.errors?.['required']&& creatForm.get('email')?.touched">
                        Campo Obrigatório!
                    </div>
                    <div class="mensagem-erro"
                        *ngIf="creatForm.get('email')?.errors?.['email'] && creatForm.get('email')?.touched">
                        Formato do email não é valido!
                    </div>
                </div>
                <div>
                    <div>
                        <input class="input-login" type="password" placeholder="Senha" formControlName="senha" />
                    </div>
                    <div class="mensagem-erro"
                        *ngIf="creatForm.get('senha')?.errors?.['required']&& creatForm.get('email')?.touched">
                        Campo Obrigatório!
                    </div>
                </div>
                <div>
                    <button class="input-submit" (click)="createAccount()">Cadastrar</button>
                </div>
            </div>
            <div class="block2">
                <div class="logo">
                    <img src="assets/img/logo.png" alt="logo-todo">
                </div>
                <div class="space2">
                    <p class="login">Imprimindo o futuro<br>e modelando idéias</p>
                </div>
                <div class="flex2">
                    <div class="space3">
                        <p class="small">Já é cadastrado?</p>
                    </div>
                    <div class="space4">
                        <p class="small">Fazer login</p>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>