<mat-stepper [linear]="isLinear" #stepper>
    <!-- Primeiro passo -->
    <mat-step [stepControl]="firstFormGroup">
        <form [formGroup]="firstFormGroup">
            <ng-template matStepLabel>Escolha um monitor</ng-template>
            <mat-form-field class="example-full-width">
                <mat-label>Monitores</mat-label>
                <input type="text" placeholder="Pick one" aria-label="Number" matInput [formControl]="myControl"
                    [matAutocomplete]="auto">
                <mat-autocomplete #auto="matAutocomplete">
                    <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                        {{ option }}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
            <div>
                <button mat-button matStepperNext>Next</button>
            </div>
        </form>
    </mat-step>

    <!-- Segundo passo -->
    <mat-step [stepControl]="secondFormGroup" label="Escolha um horario">
        <form [formGroup]="secondFormGroup">
            <mat-form-field class="example-full-width">
                <mat-label>Escolha um horario</mat-label>
                <input type="text" matInput [formControl]="selectedTimeControl" [matAutocomplete]="autoTime">
                <mat-autocomplete #autoTime="matAutocomplete">
                  <mat-option *ngFor="let time of filteredTime | async" [value]="time">
                    {{ time }}
                  </mat-option>
                </mat-autocomplete>
            </mat-form-field>
            <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button matStepperNext>Next</button>
            </div>
        </form>
    </mat-step>

    <!-- Terceiro passo -->
    <mat-step>
        <ng-template matStepLabel>Finalizado</ng-template>
        <p>Reunião Agendada com sucesso!</p>
        <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button (click)="stepper.reset()">Reset</button>
        </div>
    </mat-step>
</mat-stepper>