<mat-stepper [linear]="isLinear" #stepper>
    <!-- Primeiro passo -->
    <mat-step [stepControl]="firstFormGroup">
        <form [formGroup]="firstFormGroup">
            <ng-template matStepLabel>Escolha um monitor</ng-template>
            <mat-form-field class="example-full-width">
                <mat-label>Monitores</mat-label>
                <input type="text" placeholder="Pick one" aria-label="Number" matInput [formControl]="myControl"
                    [matAutocomplete]="auto">
                <mat-autocomplete #auto="matAutocomplete">
                    <mat-option *ngFor="let option of options" [value]="option.name" (click)="selectedMonitor(option)">
                        {{ option.name }}
                    </mat-option>

                </mat-autocomplete>
            </mat-form-field>
            <div>
                <button mat-button matStepperNext (click)="getHorariosByMonitor()">Proximo</button>
            </div>
        </form>
    </mat-step>

    <!-- Segundo passo -->
    <mat-step [stepControl]="secondFormGroup" label="Escolha um horario">
        <form [formGroup]="secondFormGroup">
            <mat-form-field class="example-full-width">
                <mat-label>Escolha um horario</mat-label>
                <input type="text" matInput [formControl]="selectedTimeControl" [matAutocomplete]="autoTime" [value]="formatTime(selectedTimeControl.value)">
                <mat-autocomplete #autoTime="matAutocomplete">
                  <mat-option *ngFor="let time of availableTimes" [value]="time" (click)="selectedTimeMonitor(time)">
                    {{ formatTime(time)  }}
                    <!-- {{ time  }} -->
                  </mat-option>
                </mat-autocomplete>
            </mat-form-field>
            <div>
                <button mat-button matStepperPrevious>Voltar</button>
                <button mat-button matStepperNext>Proximo</button>
            </div>
        </form>

''    </mat-step>

    <!-- Terceiro passo -->
    <mat-step>
        <ng-template matStepLabel>Finalizado</ng-template>
        <div class="step-done">
            <h3>Resumo do Agendamento:</h3>
            <p>Monitor: {{selectedMonitorName ?? ''}}</p>
            <p>Horario: {{formatTime(selectedTime)}}</p>
            <div class="step-done-action">
                <button mat-button matStepperPrevious>Voltar</button>
                <button mat-button (click)="agendar()" [disabled]="isValid()">Agendar</button>
            </div>
        </div>
    </mat-step>
</mat-stepper>