.conteudo-login {
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;

    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;

    .conteudo-form {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        background-color: rgba(21, 21, 21, 1);
        box-shadow: 0 15px 15px 0 rgb(255, 168, 69);
        text-align: center;
        padding-bottom: 5%;
        width: 98%;
        height: 80%;
        transition: all 0.5s ease-in-out;
    }

    .conteudo-form:hover {
        box-shadow: 0 15px 15px 0 rgb(255, 137.7, 0, 1);
    }
}

.input-login {
    background-color: #2b2b2b;
    border: none;
    color: rgb(255, 255, 255);
    padding: 15px 0px;
    text-align: center;
    font-size: 16px;
    margin: 5px;
    width: 90%;
    transition: all 0.5s ease-in-out;
    border-radius: 5px 5px 5px 5px;
}

.mensagem-erro {
    font-size: 14px;
    color: red;
    font-family: Arial, Helvetica, sans-serif;
}

.input-submit {
    background-color: rgba(255, 137.7, 0, 1) !important;
    border: none;
    color: black;
    padding: 15px 0px;
    margin-top: 5px;
    text-align: center;
    text-transform: uppercase;
    font-size: 13px;
    box-shadow: 0 10px 30px 0 #be4a1c;
    border-radius: 5px 5px 5px 5px;
    transition: all 0.3s ease-in-out;
    width: 60%;
    cursor: pointer;
}

.logo img {
    width: 100%;
    margin-bottom: 0;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70%;
    margin-bottom: 0;
}

.block,
.login {
    font-size: 30px;
    color: rgba(255, 255, 255, 1) !important;
}

.space {
    margin-right: 65%;
    margin-bottom: 8%;
}

.space3 {
    margin-left: 2%;
    margin-right: 1%;
}

.block,
.small {
    font-size: 20px;
    color: rgba(255, 255, 255, 1) !important;
}

.block {
    height: 50%;
    width: 50%;
    display: block;
    margin-left: 5%;
}

.block2 {
    height: 50%;
    width: 50%;
    display: block;
    margin-right: 5%;
}

.block2,
.space4 p {
    color: rgba(255, 137.7, 0, 1) !important;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.flex2 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 15%;
    width: 100%;

}