<div class="content">
  <div class="black full">
    <div class="center">
      <div class="first">
        <img src="assets/img/primeira.png">
      </div>
      <div class="distance">
        <div class="size">
          <div class="Teste2">
            <p class="BV one">Bem vindo Explorador(a)</p>
            <p class="caption">A 3DUCA é uma plataforma focada em promover o uso e aprendizado de tecnologias 3D no
              Instituto Federal de Educação, Ciência e Tecnologia do Ceará - Campus Aracati</p>
            <div>
              <button mat-flat-button class="custom-button">INICIAR JORNADA</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="content">
  <div class="black full">
    <div class="block">
      <div class="size">
        <p class="BV two">A sua imaginação é o limite</p>
      </div>
      <div class="full">
        <div class="imagine">
          <img src="assets/img/segunda.png">
        </div>
        <div class="imagine">
          <img src="assets/img/terceira.png">
        </div>
        <div class="imagine">
          <img src="assets/img/quarta.png">
        </div>
      </div>
    </div>
  </div>
</div>
<div class="content">
  <div class="gray full">
    <div class="center2">
      <div class="distance">
        <div class="size">
          <div class="Teste">
            <p class="BV three">Se prepare para esta jornada</p>
            <p class="caption">Não sabe por onde começar? Não se preocupe nós temos aulas e tutoriais especializadas
              sobre modelagem, scanners e impressão 3D</p>
            <div>
              <button mat-flat-button class="custom-button">ACESSAR RECURSOS</button>
            </div>
          </div>
        </div>
      </div>
      <div class="second">
        <img src="assets/img/quinta.png">
      </div>
    </div>
  </div>
</div>
<div class="content">
  <div class="black full">
    <div class="block">
      <div class="size">
        <p class="BV two">Inspire-se</p>
      </div>
      <div class="full">
        <div class="imagine">
          <a href="https://www.blender.org" target="_blank">
            <img src="assets/img/blender.svg" alt="Ícone de redirecionamento">
          </a>
        </div>
        <!-- <div>
          <a href="https://cults3d.com/en" target="_blank">
            <img src="assets/img/cults.svg" alt="Ícone de redirecionamento">
          </a>
        </div> -->
        <!-- <div>
          <a href="https://www.yeggi.com/" target="_blank">
            <img src="assets/img/logo-yeggi.svg" alt="Ícone de redirecionamento">
          </a>
        </div> -->
        <div class="imagine">
          <a href="https://www.myminifactory.com/" target="_blank">
            <img src="assets/img/MMF_horizontal_logo.svg" alt="Ícone de redirecionamento">
          </a>
        </div>
        <div class="imagine">
          <a href="https://thangs.com/?sort=likes&range=week" target="_blank">
            <img src="assets/img/Thangs_Logo-removebg-preview.svg" alt="Ícone de redirecionamento">
          </a>
        </div>
        <!-- <div>
          <a href="https://www.thingiverse.com/" target="_blank">
            <img src="assets/img/Thingiverse_Logo.svg" alt="Ícone de redirecionamento">
          </a>
        </div> -->
      </div>
    </div>
  </div>
</div>
<div class="content">
  <div class=" gray full">
    <div class="center">
      <div class="third">
        <img src="assets/img/grupo.jpg">
      </div>
      <div class="distance">
        <div class="size">
          <div class="Teste2">
            <p class="BV five">Venha fazer parte da nossa comunidade</p>
            <p class="caption">Partipe da comunidade e compartilhe seus conhecimentos com outros alunos. Ao interagir e
              contribuir com o desenvolvimento da plataforma seu nivel de usuário aumenta.</p>
            <div>
              <button mat-flat-button class="custom-button">ACESSAR COMUNIDADE</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>