
.container {
  width: 100%;
  background-color: #000;
  padding: 3rem;
  color: #d8d8d8;
}

.content {
  width: 100%;
  height: 100%;
  display: flex;
  margin-bottom: 1rem;
  gap: 2rem;

}

.context-left {
  width: 50%;  
}
.context-left img {
  width: 100%;
  box-shadow: 0 0 10px rgba(0,0,0,.2);
}

.content-right {
  width: 100%;
  padding-right: 2rem;
  margin-top: 4rem;
  flex: 1

}
.content-right h1 {
  font-size: 3rem;
  font-weight: bold;
}
.content-right h2 {
  font-size: 1.5rem;
  font-weight: normal;
}

.content-right p {
  font-size: 2rem;
  font-weight: normal;
  line-height: 1.2;
  padding-right: 3rem;
}

.custom-button {
  background-color: rgba(255, 137.7, 0, 1) !important;
  color: rgb(0, 0, 0) !important;
}

.exemplo {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  gap: 2rem;
}

.exemplo p {
  font-size: 3rem;
  font-weight: bold;

}

.exemplo-images {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-around;
  gap: 1rem;
}

.resoures {
  display: flex;
  width: 100%;
}

.resoures-content-left {
  padding: 2rem;
  width: 50%;
}
.resoures-content-left-title {
  width: 100%;
  font-size: 3rem;
  font-weight: bold;

}

.resoures-content-left-caption {
  font-size: 1.5rem;

}
.resoures-content-right {
  width: 50%;
  height: 400px;
}
.resoures-content-right img {
  width: 100%;
  object-fit: cover;
  height: 100%;
}

.inspiration {
  width: 100%;
  padding: 2rem;

} 
.inspiration-title h1 {
  font-size: 3rem;
  font-weight: bold;
}
.inspiration-title h3 {
  font-size: 1.5rem;
  font-weight: normal;
}

.inspiration-images {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.inspiration-images a img {
  width: 15rem;
}

.community {
  display: flex;
  gap: 1rem;
  width: 100%;
  margin-bottom: 1rem;
  background-color: rgba(21, 21, 21, 1);

}



.community-content-left {
  display: flex;
  width: 50%;
}
.community-content-left img {
  width: 100%;
}
.community-content-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  padding: 4rem;
  flex: 1;
}
.community-content-title {
  font-size: 3rem;
  color: #fff;
  margin-bottom: 2rem;
  font-weight: bold;
}

.community-content-caption {
  font-size: 1.5rem;
  color: #d8d8d8;  
  margin-bottom: 2rem;
}
p {
  font-size: 150%;
  /* Define o tamanho da fonte para 100% do tamanho da fonte padrão */
  line-height: 1;
  /* Define a altura da linha para 1.6 vezes o tamanho da fonte */
}

@media screen and (min-width: 768px) {
  p {
    font-size: 300%;
    /* Aumenta o tamanho da fonte para 120% do tamanho da fonte padrão em telas maiores que 768px */
  }
  /* .custom-button {
    font-size: 2em; /* Aumenta o tamanho da fonte para 2 vezes o tamanho da fonte padrão em telas maiores que 768px 
  }
  */
}

.first {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 50%;
  height: 100%;
}

.first img {
  width: 100%;
  height: 100%;
}

.height {
  width: 100%;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.p {
  width: 100%;
  height: 60%;
  padding-top: 20%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.p p {
  width: 100%;
  display: flex;
  text-align: center;
  justify-content: flex-end;
  align-items:flex-start;
  flex-direction: column;
  padding-left: 20%;
}

.between {
  width: 100%;
  height: 75%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.between img {
  width: 30%;
  height: 65%
}

.between2 {
  width: 100%;
  height: 40%;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.between2 a {
  width: 100%;
  height: 30%;
}

.between2 img {
  width: 50%;
  height: 100%;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.distance {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content:flex-start;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.distance p {
  text-align: left;
}



.full {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0;
  padding: 0;
  width: 100%;
}

.BV {
  color: rgba(255, 255, 255, 1);
  width: 100%;
  height: auto;
  font-family: Poppins;
  text-align: left;
  letter-spacing: 0;
  margin: 0;
}

.caption {
  color: rgba(145.56249797344208, 145.56249797344208, 145.56249797344208, 1);
  width: 100%;
  height: auto;
  font-family: Open Sans;
  text-align: left;
  letter-spacing: 0;
  margin: 0;
}

.black {
  background-color: #000000;
}

.black,
.full {
  padding-left: 5%;
  padding-right: 5%;
}

.gray {
  width: 100%;
  height: 100%;
  background-color: rgba(21, 21, 21, 1);
}



mat-card {
  margin-top: .8rem;
  padding: .2rem;
}