
<div class="container">
      <div class="content">
        <div class="context-left"><img src="assets/img/primeira.png"></div>
      <div class="content-right">
        <h1>Bem vindo</h1>
        <h2>Explorador(a)</h2>
        <p>A <strong>3DUCA</strong> é uma plataforma focada em promover o uso e aprendizado de tecnologias 3D no
          Instituto Federal de Educação, Ciência e Tecnologia do Ceará - Campus Aracati</p>
          <button mat-flat-button class="custom-button">INICIAR JORNADA</button>
      </div>

      </div>
  
      <div class="exemplo">
        <p>A sua imaginação é o limite</p>
        <div class="exemplo-images">
          <img src="assets/img/segunda.png">
          <img src="assets/img/terceira.png">
          <img src="assets/img/quarta.png">

        </div>

        <!-- <div class="black full">
          <div class="between">
          </div>
        </div> -->
      </div>
      <div class="resoures">
        <div class="resoures-content-left">
          <p class="resoures-content-left-title">Se prepare para esta jornada</p>
          <p class="resoures-content-left-caption">Não sabe por onde começar?<br>Não se preocupe nós temos<br>aulas e tutoriais especializadas<br>
            sobre modelagem, scanners e impressão 3D</p>
            
            <button mat-flat-button class="custom-button">ACESSAR RECURSOS</button>
        </div>
        <div class="resoures-content-right">
          <img src="assets/img/quinta.png">
        </div>
      </div>
      <div class="inspiration">
        <div class="inspiration-title">
          <h1>Inspire-se</h1>
          <h3>Sites com modelos 3D para se inspirar e ampliar seus estudos.</h3>
        </div>
        <div class="inspiration-images">
          <a href="https://www.blender.org" target="_blank">
            <img src="assets/img/blender.svg" alt="Ícone de redirecionamento">
          </a>
          <a href="https://www.myminifactory.com/" target="_blank">
            <img src="assets/img/MMF_horizontal_logo.svg" alt="Ícone de redirecionamento">
          </a>
          <a href="https://thangs.com/?sort=likes&range=week" target="_blank">
            <img src="assets/img/Thangs_Logo-removebg-preview.svg" alt="Ícone de redirecionamento">
          </a>
        </div>
      </div>
      <div class="community">

        <div class="community-content-left">
          <img src="assets/img/grupo.jpg">
  
        </div>
        <div class="community-content-right">
          <p class="community-content-title">Venha fazer parte da nossa comunidade</p>
          <p class="community-content-caption">Partipe da comunidade e compartilhe seus conhecimentos com outros alunos. Ao interagir e
            contribuir com o desenvolvimento da plataforma seu nivel de usuário aumenta.</p>
          <button mat-flat-button class="custom-button">ACESSAR COMUNIDADE</button>
        </div>
      </div>
</div>
