<div class="content">
  <div class="black">
    <div class="center">
      <div style="padding-top: 3%;" class="first">
        <img src="assets/img/primeira.png">
      </div>
      <div class="distance">
        <div class="p">
          <p class="BV">Bem vindo<br>Explorador(a)</p>
          <p class="caption">A 3DUCA é uma plataforma focada em promover o uso e aprendizado de tecnologias 3D no
            Instituto Federal de Educação, Ciência e Tecnologia do Ceará - Campus Aracati</p>
        </div>
        <div class="height">
          <button mat-flat-button class="custom-button">INICIAR JORNADA</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="content">
  <div class="black full">
    <p class="BV">A sua imaginação é o limite</p>
    <div class="between">
      <img src="assets/img/segunda.png">
      <img src="assets/img/terceira.png">
      <img src="assets/img/quarta.png">
    </div>
  </div>
</div>
<div class="content">
  <div class="gray">
    <div class="center">
      <div class="distance">
        <div class="p">
          <p class="BV">Se prepare para<br>esta jornada</p>
          <p class="caption">Não sabe por onde começar?<br>Não se preocupe nós temos<br>aulas e tutoriais especializadas<br>
            sobre modelagem, scanners e<br>impressão 3D</p>
        </div>
        <div class="height">
          <button mat-flat-button class="custom-button">ACESSAR RECURSOS</button>
        </div>
      </div>
      <div class="first">
        <img src="assets/img/quinta.png">
      </div>
    </div>
  </div>
</div>
<div class="content">
  <div class="black full">
    <p class="BV">Inspire-se</p>
    <div class="between2">
      <a href="https://www.blender.org" target="_blank">
        <img src="assets/img/blender.svg" alt="Ícone de redirecionamento">
      </a>
      <a href="https://www.myminifactory.com/" target="_blank">
        <img src="assets/img/MMF_horizontal_logo.svg" alt="Ícone de redirecionamento">
      </a>
      <a href="https://thangs.com/?sort=likes&range=week" target="_blank">
        <img src="assets/img/Thangs_Logo-removebg-preview.svg" alt="Ícone de redirecionamento">
      </a>
    </div>
  </div>
</div>
<div class="content">
  <div class="gray">
    <div class="center">
      <div class="first">
        <img style="height: 100%;" src="assets/img/grupo.jpg">
      </div>
      <div class="distance">
        <div style="padding-right: 15%;" class="p">
          <p class="BV five">Venha fazer parte da nossa comunidade</p>
          <p class="caption">Partipe da comunidade e compartilhe seus conhecimentos com outros alunos. Ao interagir e
            contribuir com o desenvolvimento da plataforma seu nivel de usuário aumenta.</p>
        </div>
        <div style="padding-right: 15%;" class="height">
          <button mat-flat-button class="custom-button">ACESSAR COMUNIDADE</button>
        </div>
      </div>
    </div>
  </div>
</div>